.jumboCopy img {
max-width: 200px;
align-items: center;
}
#sidebar ul li a {
    color: #900;
    text-decoration: none;
    padding: 3px 0; 
    display: block;
  }
  .page-section ul li{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: inline;
   margin-left: 100px;
   margin-right: 100px;
  }


